include Makefile
include tox.ini
include .travis.yml
include .bumpversion.cfg
include .coveragerc
include COPYING
include makefile
include debian/hello.1
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source
include debian/source/format
