Source: hello
Maintainer: Stefano Palazzo <stefano.palazzo@gmail.com>
Section: python
Priority: optional
Build-Depends: python3.4, python3-setuptools, debhelper (>=9)
Standards-Version: 3.9.5

Package: python3-hello
Architecture: all
Depends: python3.4, python3-setuptools,
         python3-docopt (>=0.6.2),
         ${misc:Depends}
Homepage: https://github.com/sfstpala/hello
Description: Hello World
 This is a pretty simple Python package.
